*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Gill Sans';
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height:100%;
    width:100%;
}
#header{
    position: fixed;
    display: flex;
    height: 12vh;
    width: 100%;
    background-color:white;
}
#fakeHeader{
    height: 12vh;
    width: 100%;
    background-color: white;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
}
#chat{
    font-size: larger;
    z-index: 10;
    position: fixed;
    color: white;
    border-radius: 10px;
    padding: 10px;
    top:88%;
    left:88%;
    background-color:  rgba(12, 16, 56, 0.932);
}
#logo{
    margin-left: 20px;
    margin-top: 3px;
    margin-right: 15px;
    width: 3%;
    height: 3%;
    object-fit: cover;
}
.text{
    margin: 20px;
    margin-left: 50px;
    font-size:large;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(12, 16, 56, 0.932);
}
.text:hover{
    text-decoration: underline;
    color: rgb(41, 71, 172);
    border-radius: 38%;
}
.icon{
    margin:5px;
    padding: 5px;
    font-weight: bolder;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1{
    height: 88vh;
    width: 100%;
    background-color:white;
}
#strip{
    width: 100%;
    height: 8vh;
    color: white;
    font-size: larger;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 16, 56, 0.932);
}
.container{
    position: relative;
}
.container .wrapper{
    width: 100vw;
    height: 75vh;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.6);
    margin: 5 rem auto;
    overflow: hidden;
}
.container .wrapper-holder{
    display: grid;
    grid-template-columns: repeat(4,100%);
    height: 100%;
    width: 100%;
    animation: slider 35s ease-in-out infinite alternate;
}
.container .wrapper-holder div{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.container #slider-img-1{
    background-image: url(https://media.istockphoto.com/id/1262283582/photo/indian-ethnic-female-doctor-physician-gp-wearing-glasses-white-coat-stethoscope-writing.webp?a=1&b=1&s=612x612&w=0&k=20&c=C7TwXaiMPUuMJnxs1Blw-Oryoec_0HnsAUiIMjonsmo=);
}
.container #slider-img-2{
    background-image: url(https://plus.unsplash.com/premium_photo-1673953509975-576678fa6710?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aGVhbHRoY2FyZXxlbnwwfHwwfHx8MA%3D%3D);
}
.container #slider-img-3{
    background-image: url(https://images.unsplash.com/photo-1530497610245-94d3c16cda28?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bWVkaWNhbHxlbnwwfHwwfHx8MA%3D%3D);
}
.container #slider-img-4{
    background-image: url(https://plus.unsplash.com/premium_photo-1661685719955-0c8dae8ebad1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bWVkaWNhbCUyMHJlcG9ydHxlbnwwfHwwfHx8MA%3D%3D);
}
.container .button-holder .button{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container .button-holder{
    position: absolute;
    left:45%;
    bottom: 0%;
}
.button:hover{
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.6);
}
@keyframes slider{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0);}
    100%{transform: translateX(0);}
}
#page2{
    height: 88vh;
    width: 100%;
    display: flex;
    background-color:white;
}
#card1{
    margin-top: 55px;
    margin-left:30px;
    height: 70%;
    border-radius: 17px;
    background-color:aliceblue;
    box-shadow: rgba(0, 0, 0, 0.781) 1px 1px 2px 2px;
    width: 30%;
}
#card1 h1{
    color: rgba(12, 16, 56, 0.932);
    font-size: xx-large;
    padding: 20px;
    padding-left: 30px;
}
#card1 p{
    color: rgba(12, 16, 56, 0.932);
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
#card1 u{
    color: rgba(12, 16, 56, 0.932);
    padding: 10px;
    padding-left: 40px;
    font-size: larger;
}
#card1 img{
    padding-top: 20px;
    object-fit: contain;
    width: 100%;
    height: 44%;
    border-radius: 10px;
}
#card2{
    margin-top: 55px;
    margin-left:30px;
    height: 70%;
    border-radius: 17px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.781) 1px 1px 2px 2px;
    width: 30%;
}
#card2 h1{
    color: rgba(12, 16, 56, 0.932);
    font-size: xx-large;
    padding: 20px;
    padding-left: 30px;
}
#card2 p{
    color: rgba(12, 16, 56, 0.932);
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
#card2 u{
    color: rgba(12, 16, 56, 0.932);
    padding: 10px;
    padding-left: 40px;
    font-size: larger;
}
#card2 img{
    padding-top: 20px;
    object-fit: contain;
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
#card3{
    margin-top: 55px;
    margin-left:30px;
    height: 70%;
    border-radius: 17px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.781) 1px 1px 2px 2px;
    width: 30%;
}
#card3 h1{
    color: rgba(12, 16, 56, 0.932);
    font-size: xx-large;
    padding: 20px;
    padding-top: 30px;
    padding-left: 30px;
}
#card3 p{
    color: rgba(12, 16, 56, 0.932);
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
#card3 u{
    color: rgba(12, 16, 56, 0.932);
    padding: 10px;
    padding-left: 40px;
    font-size: larger;
}
#card3 img{
    padding-top: 30px;
    object-fit: contain;
    width: 100%;
    height: 44%;
    border-radius: 10px;
}
#page3{
    height: 70vh;
    width: 100%;
    background-color: white;
}
#faq{
    color: rgba(12, 16, 56, 0.932);
    font-weight: bolder;
    font-size: larger;
    padding-left: 444px;
    margin-bottom: 20px;
}
.Q{
    padding-left: 15px;
    padding-top: 7px;
    font-size: smaller;
    padding-bottom: 7px;
}
.A{
    padding-left: 15px;
    color: rgba(12, 16, 56, 0.932);
    font-weight: bold;
    font-size: x-large;
    padding-top: 7px;
    padding-bottom: 7px;
}
#page4{
    height: 88vh;
    width: 100%;
    background-color: white;
}
#emergency{
    padding-left: 440px;
    margin-top: none;
    color: rgba(12, 16, 56, 0.932);
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 27px;
}
.econtact{
    color: black;
    padding-left: 55px;
    font-weight: bolder;
    font-size: x-large;
    padding-top: 6px;
    padding-bottom: 6px;
}
#ty{
    padding: 15px;
    padding-top: 30px;
    padding-left: 25px;
    color: white;
    font-size: larger;
    padding-bottom: 30px;
    font-weight: bolder;
    padding-top: 30px;
    background-color: black;
    height: 100vh;
    margin-top: 100px;
    text-align: center;
}
#footer{
    text-align: center;
}
#footer h2{
    font-size:41px;
    padding-top: 25px;
}
#footer pre{
    font-size:larger;
    padding-top: 10px;
}
#foot h2{
    padding-top:50px;
    font-size: 35px;
}
.images{
    padding-top: 5px;
    font-size: 40px;
    padding-left: 3px;
    padding-right: 3px;
}
#contact h2{
    font-size: xx-large;
    padding-left:5px;
    padding-top:50px;
}
#i7{
    font-size: xx-large;
}
#i8{
    font-size: x-large;
}
#copy{
    font-size: large;
    padding-top:40px;
}